@charset "UTF-8";
@use "sass:math";

//ブレイクポイント
$breakpoints: (
  md: 767,
);
//メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
);
// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
    @return math.div($pixels, 10) * 1rem;
}
// ラフマインド案件用のスマ表示用フォントサイズ
@function vw($sp-pixels) {
    @return math.div($sp-pixels, 750) * 100vw;
}

$base-font-family:  "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic" , sans-serif;
$second-font-family:  "jaf-bernina-sans", sans-serif;
  
$bold : 700;
$medium : 500;
$regular : 400;

$color-black: #555555;
$color-white: #fff;
$color-theme: #979797;
$color-accent:#000000;

$inner: rem(660);

$padding-pc: rem(25);
$padding-sp: vw(20);

html {
    background: #E2E2E2;
}
.lp {
    padding-bottom: calc(0 * (100vw / 750));
    @include mq(md) {
        padding-bottom: 16vw;
        
    }
}
.home-content.support-content {
    margin-block-start: calc(0*(100vw / 750));
}

.UU240403influencer {
    font-weight: $medium;
    font-family: $base-font-family;
    color: $color-black;
    padding-bottom: rem(119.5);
    font-feature-settings: "palt";
    @include mq(md) {
        padding-bottom: 0;
    }
    img {
        width: 100%;
        display: block;
    }
    .js-fadeInUp {
        opacity: 0 ;
        visibility: hidden;
        transform: translateY(1.5rem);
        transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
    }
    .js-fadeInUpPc {
        opacity: 0 ;
        visibility: hidden;
        transform: translateY(1.5rem);
        transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
        @include mq(md) {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    .js-fadeInUpSp {
        @include mq(md) {
            opacity: 0 ;
            visibility: hidden;
            transform: translateY(1.5rem);
            transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
        }
    }
    .js-fadeInUp.visible,
    .js-fadeInUpPc.visible,
    .js-fadeInUpSp.visible
     {
        opacity: 1 ;
        visibility: visible;    
        transform: translateY(0);
    }
    .js-borderLongRight.active::after {
        animation: borderLongRight 1.8s ease forwards;
        animation-delay: 0.5s;
    }
    @keyframes borderLongRight {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    .only-mobile {
        display: none;
        @include mq(md) {
            display: block;
        }
    }
    .only-desktop {
       display: block;
       @include mq(md) {
            display: none !important;
        }
    }
    .inner {
        width: 100%;
        max-width: calc($inner + ($padding-pc * 2));
        padding-right: $padding-pc;
        padding-left: $padding-pc;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        @include mq(md) {
            max-width: calc(vw(660) + ($padding-sp * 2));
            padding-right: $padding-sp;
            padding-left: $padding-sp;
        }
    }    
    .font_family_second {
        font-family: $second-font-family;
        font-weight: $regular;
    }
    .common_swiper {
        max-width: rem(318);
        padding-bottom: rem(21);
        position: relative;
        @include mq(md) {
            padding-bottom: vw(40);
            max-width: 100%;
        }
    }
    .commnon_swiper-pagination {
        
    }
    .swiper-horizontal > .swiper-pagination-bullets.commnon_swiper-pagination,
    .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        @include mq(md) {
            text-align: center;
        }
    }
    .swiper-horizontal > .swiper-pagination-bullets.commnon_swiper-pagination--reverse {
        right: 0;
        text-align: right;
        @include mq(md) {
            text-align: center;
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: rem(6);
        height: rem(6);
        background: #555;
        margin: 0 rem(4);
        @include mq(md) {
            width: vw(13);
            height: vw(13);
            margin: 0 vw(11);
        }
    }
    .swiper-pagination-bullet-active {
        background: #656565;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet:first-child {
        margin-left: 0;
    } 
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet:last-child {
        margin-right: 0;
    } 
    .look_text {
        text-align: center;
    }
    .look_text__tag{
        display: inline-block;
        font-size: rem(18);
        letter-spacing: 0.09em;
        padding-top: rem(5);
        padding-bottom: rem(3);
        padding-left: rem(24);
        padding-right: rem(21);
        text-transform: uppercase;
        border: 1px solid $color-black;
        @include mq(md) {
            font-size: vw(25);
            padding-top: vw(8);
            padding-bottom: vw(4);
            padding-left: vw(38);
            padding-right: vw(30);
            letter-spacing: 0.14em;
        }
    }   
    .look_text_tag--2 {
        @include mq(md) {
            padding-left: vw(38);
            padding-right: vw(30);
        }
    }
    .look_text__tag--number {
        font-size: rem(20);
        margin-left: rem(5);
        margin-top: rem(-1);
        display: inline-block;
        @include mq(md) {
            font-size: vw(30);
            margin-left: vw(7);
        }
    }
    .look_text__tag--number--2 {
        margin-left: rem(2.5);
        @include mq(md) {
            margin-left: vw(3);
        }
    }
    .look_text__head {
        font-size: rem(18);
        letter-spacing: 0.16em;
        line-height: calc(34 / 18);
        margin-top: rem(21);
        padding-left: rem(3);
        font-weight: $regular;
        @include mq(md) {
            margin-top: vw(26);
            font-size: vw(32);
            line-height: calc(62 / 32);
            padding-left: vw(5);
            letter-spacing: 0.14em;
        }
    }
    .look_text__head--bottom {
        text-align: justify;
    }
    .look_text__head--2 {
        letter-spacing: 0.16em;
        padding-left: rem(4);
        @include mq(md) {
            letter-spacing: 0.14em;
            padding-left: vw(5);
        }
    }
    .look_text__head--2--bottom {
        letter-spacing: 0.16em;
        @include mq(md) {
            letter-spacing: 0.14em;
        }
    }
    .look_first_text__head {
        font-size: rem(18);
        line-height: calc(34 / 18);
        letter-spacing: 0.16em;
        text-align: center;
        font-weight: $regular;
        padding-left: rem(2);
        @include mq(md) {
            font-size: vw(32);
            line-height: 1.93;
            letter-spacing: 0.14em;
            padding-left: rem(5);
        }
    }
    .look_text__body {
        margin-top: rem(10);
        @include mq(md) {
            margin-top: vw(21);
        }
    }
    .look_first_text__body {
        margin-top: rem(10);
        @include mq(md) {
            margin-top: vw(23);
        }
    }
    .look_columns {
        display: flex;
        gap: rem(45);
        align-items: flex-start;
        @include mq(md) {
            display: block;
        }
    }
    .look_columns--reverse {
        flex-direction: row-reverse;
    }
    .look_column__image {
        max-width:rem(318);
        @include mq(md) {
            max-width:100%;
        }
    }
    .look_column__text {
        max-width:rem(297);
        width: 100%;
        padding-top: rem(60.5);
        @include mq(md) {
            padding-top: 0;
            max-width: 100%;
            padding-bottom: 0;
            margin-top: vw(69.5);
        }
    }
    .look_column__text--2 {
        padding-top: rem(46.5);
        @include mq(md) {
            padding-top: 0;
        }
    }
    .look_column__first_text {
        max-width:rem(297);
        width: 100%;
        margin-top: rem(66.5);
        @include mq(md) {
            max-width: 100%;
            padding-bottom: 0;
            margin-top: vw(56.5);
        }
    }
    .comodity_descriptionBox {
        position: relative;
        padding-top: rem(18.5);
        padding-left: rem(25);
        padding-right: rem(24);
        padding-bottom: rem(17.5);
        @include mq(md) {
            padding-top: vw(33);
            padding-left: vw(45);
            padding-right: vw(44);
            padding-bottom: vw(32);
        }
    }
    .look_text__body.comodity_descriptionBox {
        padding-top: rem(18);
        padding-right: rem(24.2);
        @include mq(md) {
            padding-top: vw(34);
            padding-right: vw(43);
        }
    }
    .comodity_descriptionBox::before,
    .comodity_descriptionBox::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: rem(25);
        height: rem(40);
        border: solid $color-theme;
        @include mq(md) {
            width: vw(40);
            height: vw(70);
        }
    }
    .comodity_descriptionBox::before {
        left: 0;
        top: 0;
        border-width: 1px 0 0 1px;
    }
    .comodity_descriptionBox::after {
        right: 0;
        bottom: 0;
        border-width: 0 1px 1px 0;
    }
    .comodity_descriptionBox__description {
        font-size: rem(14);
        line-height: 2;
        text-align: justify;
        letter-spacing: 0.065em;
        font-feature-settings: "palt";
        @include mq(md) {
            font-size: vw(24);
            letter-spacing: 0.07em;
        }
    }
    .look_first_text__body .comodity_descriptionBox__description {
        @include mq(md) {
            letter-spacing: 0.056em;
        }
    }
    .comodity_descriptionBox__description--2 {
        letter-spacing: 0.075em;
    }
    .section_title {
        font-family: $second-font-family;
        font-weight: $regular;
        font-size: rem(21.5);
        letter-spacing: 0.115em;
        position: relative;
        line-height: 1;
        padding-bottom: rem(12);
        margin-left: rem(-2);
        @include mq(md) {
            font-size: vw(32);
            padding-bottom: vw(27);
            letter-spacing: 0.15em;
            margin-left: vw(-3);
        }
    }
    .section_title--number {
        font-size: rem(22);
        @include mq(md) {
            font-size: vw(36);
            margin-left: vw(-1);
        }
    }
    .section_title::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        display: inline-block;
        content: "";
        height: rem(1);
        background: $color-black;
        @include mq(md) {
            height: 1px;
        }
    }
    .mv__inner {
        width: 100%;
        max-width: calc(rem(900) + ($padding-pc * 2));
        padding-right: $padding-pc;
        padding-left: $padding-pc;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        @include mq(md) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .topText {
        margin-top: rem(77);
        text-align: center;
        line-height: 2;
        @include mq(md) {
            margin-top: vw(81);
        }
    }
    .topText__top--main {
        font-size: rem(24.55);
        letter-spacing: 0.03em;
        line-height: 1;
        font-weight: $medium;
        margin-top: rem(26);
        padding-left: rem(0);
        @include mq(md) {
            font-size: vw(41);
            line-height: 1.8;
            letter-spacing: 0.1em;
            margin-top: vw(26);
            padding-left: vw(7);
        }
    }
    .topText__top--eng {
        letter-spacing: 0.113em;
        @include mq(md) {
            letter-spacing: 0.116em;
        }
    }
    .topText__top--main--bottom {
        @include mq(md) {
            letter-spacing: 0.057em;
            margin-left: vw(-3);
        }
    }
    .topText__top--small {
        font-size: rem(20);
        line-height: 1;
        letter-spacing: 0.102em;
        padding-left: rem(2);
        @include mq(md) {
            font-size: vw(30);
            letter-spacing: 0.13em;
            padding-left: vw(4);
        }
    }
    .topText__center {
        font-size: rem(17);
        letter-spacing: 0.06em;
        margin-top: rem(18.5);
        @include mq(md) {
            font-size: vw(29);
            line-height: 1;
            margin-top: vw(33);
            letter-spacing: 0;
            margin-left: rem(-3);
        }
    }
    .topText__center--left {
        margin-right: rem(5);
        letter-spacing: 0.12em;
        @include mq(md) {
            margin-right: vw(9);
            letter-spacing: 0.09em;
        }
    }
    .topText__bottom {
        margin-top: rem(27);
        font-size: rem(14);
        letter-spacing: 0.085em;
        padding-left: rem(2);
        @include mq(md) {
            font-size: vw(24);
            line-height: calc(48 / 24);
            margin-top: vw(48);
            letter-spacing: 0.1em;
            padding-left: vw(2);
        }
    }
    .profile {
        margin-top: rem(113);
        @include mq(md) {
            margin-top: vw(145);
        }
    }
    .profile__columns {
        display: flex;
        gap: rem(44);
        @include mq(md) {
            display: block;
        }
    }
    .profile__column--left {
        max-width: rem(275);
        margin-top: rem(12.5);
        @include mq(md) {
            max-width: 100%;
            margin-top: 0;
        }
    }
    .profile__column--right {
        max-width: rem(341);
        @include mq(md) {
            max-width: 100%;
            margin-top: vw(97);
        }
    }
    .profile__headColumns {
        display: flex;
        align-items: flex-start;
        gap: calc(100% - (rem(254)));
        @include mq(md) {
            display: block;
            max-width:vw(370);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .profile__icon {
        max-width:rem(135);
        margin-left: rem(-5);
        box-sizing: border-box;
        @include mq(md) {
            max-width: vw(281);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .profile__info {
        max-width:rem(123);
        width: 100%;
        padding-top: rem(0.5);
        margin-left: rem(-1);
        @include mq(md) {
            max-width: vw(370);
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: vw(30.5);
        }
    }
    .profile__name {
        font-size: rem(14);
        line-height: calc(23 / 18);
        letter-spacing: 0.12em;
        border-bottom: 1px solid $color-accent;
        padding-bottom: rem(15);
        @include mq(md) {
            font-size: vw(24);
            line-height: calc(51 / 32);
            padding-bottom: vw(16);
            padding-left: vw(2);
            letter-spacing: 0.1em;
        }
    }
    .profile__name--large {
        font-size: rem(18);
        line-height: 1.6;
        @include mq(md) {
            margin-left: vw(4);
            font-size: vw(32);
        }
    }
    .profile__instagram {
        margin-top: rem(15);
        font-size: rem(13);
        line-height: calc(21 / 13);
        letter-spacing: 0.09em;

        @include mq(md) {
            font-size: vw(24);
            line-height: 1;
            margin-top: vw(28);
            padding-left: 0;
            letter-spacing: 0.09em;
            margin-left: rem(-6);
        }
    }
    .profile__instagram--ls_0 {
        letter-spacing: 0;
    }
    .profile__history {
        margin-top: rem(15);
        line-height: 2;
        font-size: rem(14);
        margin-left: rem(-1);
        padding-right: rem(1);
        text-align: justify;
        letter-spacing: 0.05em;
        font-feature-settings: "palt";
        @include mq(md) {
            font-size: vw(24);
            margin-top: vw(49);
            margin-left: 0;
            letter-spacing: 0.055em;
            padding-right: 0;
        }
    }
    .profile__voice {
        background: #EFEFEF;
        padding: rem(23) rem(30);
        position: relative;
        font-size: rem(14);
        line-height: 2;
        letter-spacing: 0.049em;
        position: relative;
        text-align: justify;
        font-feature-settings: "palt";
        @include mq(md) {
            padding: vw(48) vw(61);
            padding-top: vw(48);
            padding-right: vw(59);
            padding-left: vw(60);
            padding-bottom: vw(46);
            line-height: 2;
            letter-spacing: 0.052em;
            font-size: vw(24);
        }
    }
    .profile__voice--eng {
        letter-spacing: 0.11em;
    }
    .profile__voice::before {
        position: absolute;
        display: inline-block;
        content: "";
        right: 100%;
        top: calc(50% + rem(14));
        transform: translateY(-50%);
        border-left:rem(30)  solid transparent;
        border-top: rem(20) solid #EFEFEF;
        @include mq(md) {
            right: auto;
            top: auto;
            bottom: 100%;
            left: vw(59);
            transform: translateY(0);
            border-left:vw(40)  solid transparent;
            border-bottom: vw(50) solid #EFEFEF;
            border-top: none;
        }
    }
    .favoriteItem_1 {
        margin-top: rem(111);
        @include mq(md) {
            margin-top: vw(154);
        }
    }
    .favoriteItem_1__body {
        margin-top: rem(39);
        @include mq(md) {
            margin-top: vw(59);
        }
    }
    .favoriteItem_1__images {
        display: flex;
        margin-top: rem(59);
        gap: calc(100% - rem(636));
        @include mq(md) {
            display: block;
            margin-top: vw(100);
        }
    }
    .favoriteItem_1__image {
        display: block;
        max-width: rem(318);
        width: 100%;
        @include mq(md) {
            max-width: 100%;
        }
    }
    .favoriteItem_2 {
        margin-top: rem(119);
        @include mq(md) {
            margin-top: vw(134);
        }
    }
    .favoriteItem_2__body {
        margin-top: rem(38.5);
        @include mq(md) {
            margin-top: vw(59);
        }
    }
    .favoriteItem_2__topContainer {
        display: flex;
        gap:0 rem(24);
        flex-wrap: wrap;
        @include mq(md) {
            gap: 0;
        }
    }

    .favoriteItem_2__image {
        display: block;
        max-width: calc((100% - rem(24)) / 2);
        width: 100%;
        @include mq(md) {
            max-width: 100%;
        }
    }
    .favoriteItem_2__image_2 {
        @include mq(md) {
            order: 2;
            margin-top: vw(99.4);
        }
    }
    .favoriteItem_2__topText {
        margin-top: rem(45);
        max-width: 100%;
        @include mq(md) {
            margin-top: vw(79);
        }
    }
    .favoriteItem_2__topHead {
        font-size: rem(18);
        letter-spacing: 0.14em;
        text-align: center;
        font-weight: $regular;
        @include mq(md) {
            font-size: vw(32);
            padding-left: vw(7);
            letter-spacing: 0.14em;
        }
    }
    .favoriteItem_2__topDescriptionBox {
        margin-top: rem(19.5);
        padding-top: rem(18.5);
        padding-bottom: rem(18);
        padding-left: rem(25);
        padding-right: rem(24.5);
        @include mq(md) {
            margin-top: vw(39.5);
            padding-top: vw(34);
            padding-bottom: vw(32);
            padding-left: vw(45);
            padding-right: vw(43);
        }
    }
    .favoriteItem_2__topDescription {
        text-align: justify;
        letter-spacing: 0.065em;
        font-feature-settings: "palt";
        @include mq(md) {
            letter-spacing: 0.08em;
        }

    }
    .favoriteItem_2__centerContainer {
        margin-top: rem(119);
        @include mq(md) {
            margin-top: vw(200);
        }
    }
    .favoriteItem_2__bottomContainer {
        margin-top: rem(79.2);
        @include mq(md) {
            margin-top: vw(120);
        }
    }
    .favoriteItem_2__btn {
        text-align: center;
        margin-top: rem(99);
        @include mq(md) {
            margin-top: vw(120);
        }
    }
    .allBtn {
        display: inline-block;
        background: #F1F1F1;
        text-align: center;
        font-size: rem(15);
        letter-spacing: 0.077em;
        max-width:rem(424);
        width: 100%;
        padding-top: rem(24);
        padding-bottom: rem(23);
        padding-right: rem(16);
        @include mq(md) {
            max-width: vw(541);
            padding-top: vw(32);
            padding-bottom: vw(26);
            padding-right: vw(23);
            font-size: vw(22);
            box-sizing: border-box;
            letter-spacing: 0.077em;
        }
    }
    .allBtn__arrow {
        position: relative;
        padding: 0 rem(16);
        @include mq(md) {
            padding: vw(0) vw(22);
        }
    }
    .allBtn__arrow::after {
        display: inline-block;
        content: "";
        position: absolute;
        width: rem(5);
        height: rem(5);
        border-top: 1px solid $color-black;
        border-right: 1px solid $color-black;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: rem(2);
        @include mq(md) {
            width: vw(9);
            height: vw(9);
            right: vw(2);
        }
    }
}
